@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Modak&family=Zen+Kaku+Gothic+Antique&display=swap');

 
$green: rgb(0, 200, 100);
$black: rgb(17, 16, 16);



$nav-font :'Manrope', sans-serif;
$seed-font :'Modak', cursive;
$body-font :'Zen Kaku Gothic Antique', sans-serif;
 


.discover-main{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: center;
    .discover-container{
        display:flex;
        flex-direction: column;
        outline: solid;
        outline-width: 1px;
        outline-color: lightgrey;
        
        
        
        .discover-photo{
            width: 27vw;
            height: 15.71vw;
            background: lightsalmon;
        }
        .discover-body{
            display: flex;
            flex-direction: column;
            width: 27vw;
            height: 180px;
            
            gap: 15px;
            *{
                margin-left: 10px;
            }
            :first-child{
                margin-top: 5px;
            }
        }
        .discover-stats{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 27vw;
            height: 147px;
            
            gap: 15px;
            :last-child{
                margin-bottom: 10px;
            }
            *{
                margin-left: 10px;
            }
            .discover-links{
                display: flex;
                gap: 15px;
                text-decoration: underline;
                color: black;
            }
            .discover-link{
                color: black;
                text-decoration: underline;
                &:hover{
                    font-weight: bold;
                }
            }
        }
        .progress-container{
            display: flex;
            justify-content: start;
            
            width: 90%;
            height: 5px;
            background: lightgrey;
            max-width: 90%;
            min-width: 90%;


            .progress-bar{
                margin-left: 0px;
                height: 5px;
                background: darkgreen;
                max-width: 100%;

            }
        }
    }
}

.discover-title{
    color: black;
    font-size: x-large;
    margin: 20px;
    margin-left: 5vw;
    .discover-green{
        color: darkgreen;
        font-weight: 900;
    }
}


@media only screen and (min-width: 1px) and (max-width: 600px) {
    
    .discover-main{
        display: flex;
        flex-wrap: wrap;
        gap: 4vw;
        justify-content: center;
        .discover-container{
            display:flex;
            flex-direction: column;
            
            
            
            .discover-photo{
                width: 91.5vw;
                height: 51.6vw;
                
            }
            .discover-body{
                width: 91.5vw;
                height: 180px;
                
            }
            .discover-stats{
                width: 91.5vw;
                height: 147px;
                
            }
        }

    }

}








@media only screen and (min-width: 600px) and (max-width: 1000px) {
 
.discover-main{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: center;
    .discover-container{
        display:flex;
        flex-direction: column;
        
        
        
        .discover-photo{
            width: 42.6vw;
            height: 24vw;
            
        }
        .discover-body{
            width: 42.6vw;
            height: 180px;
            
        }
        .discover-stats{
            width: 42.6vw;
            height: 147px;
           
        }
    }
}


}