@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Modak&family=Zen+Kaku+Gothic+Antique&display=swap');

 
$green: rgb(0, 200, 100);
$black: rgb(17, 16, 16);



$nav-font :'Manrope', sans-serif;
$seed-font :'Modak', cursive;
$body-font :'Zen Kaku Gothic Antique', sans-serif;


.home-large-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow: hidden;
    
}

.home-med-container-left{
    
    width: 49.3vw;
    height: 80vh;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 1px;

    .featured-links{
        display: flex;
        justify-content: space-between;
        .featured-likes{
            display: flex;
            gap: 10px;
        }
    }
}
.home-med-container-right{
    
    width: 40.7vw;
    height: 80vh;
    border-bottom: solid;
    border-left: solid;
    border-color: lightgrey;
    border-width: 1px;
}

.home-main{
    margin-left: 5vw;
    margin-right: 5vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        margin-top: 20px;
        font-size: 24px;
        margin-bottom: 5px;
    }
    h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.cat-picture-main{
    margin-top: 10px;
    width: 90%;
    height: 75%;
    
    background: orange;
}
.home-med-container-left{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4{
        font-size: 13px;
    }
    h1{
        font-size: 24px;
        &:hover{
            text-decoration: underline;
            color: $green;
        }
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 12px;
        &:hover{
            text-decoration: underline;
        }
    }
   
}
.featured-remind{
    width: 84px;
    height: 24px;
    background: none;
}
.category-container{
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        
        height: 75%;
        width: 90%;
    .rec-container{
        display: flex;
        gap: 10px;
        width: 90%;
        height: 33%;
        border-bottom: solid;
        border-bottom: 1px;
        border-bottom-color: lightgray;
        

        .small-pic{
            height: 80%;
            width: 40%;
            margin-top: 10px;
            margin-bottom: 10px;
            background: goldenrod;
        }
        .rec-stats{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h1{
                font-size: 14px;
                &:hover{
                    text-decoration: underline;
                    color: $green;
                }
            }
            h2{
                font-size: 12px;
                
            }
            h3{
                font-size: 12px;
                text-decoration: underline;

            }
        }
        
        .rec-stats-icons-container{
            display: flex;
            .rec-stats-icons{
                background: none;
                border-radius: 100%;
                border-width: 1px;
                border-color: lightgray;
                cursor: pointer;
            }
        }
    }
}
.home-large-container{
    .rec-stats-icons{
                background: none;
                border-radius: 100%;
                border-width: 1px;
                border-color: lightgray;
                cursor: pointer;
            }
}


@media only screen and (max-width: 800px) {
  .home-large-container{
      flex-direction: column;
      .home-med-container-left{
          width: 100vw;
      }
      .home-med-container-right{
          width: 100vw;
      }
  }

   .large-form-box{
    flex-direction: column;
    }
    .large-form-box-title{
    
    }
    .large-form-box-body{
    }
    .small-form-box{
    width: 25vw;
    }
    .small-form-box-left{
        display:none;
    }
    .small-form-box-right{
        width: 80vw;
    }
    .xsmall-form-box{
    }

}


