.social-bar-main{
    display: flex;
    justify-content: start;
    gap: 40vw;
    margin: 15px;
    font-size: 14px;
    .social-links{
        display: flex;
        gap: 20px;
        *{
            height: 22px;
            width: 22px;
        }
    }
    img{
        width: 15px;
        height: 18px;
        filter: invert(1);
    }
}


@media only screen and (min-width: 1px) and (max-width: 800px) {
    .social-bar-main{
        flex-direction: column;
        gap: 15px;
        margin: 20px;
    }



}