.modal-main{
    position: fixed;
    background: rgba(1,1,1,0);
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 100vw;
    height: 100vw;

}

.modal-container{
    position: absolute;
    top: 5%;
    right: 3%;
    width: 33%;
    max-height: 60%;
    background: rgba(241, 7, 7, 0.6);
    // transform: translate(50%, -50%);

    .logout-button{
        cursor: pointer;
    }
}