


.project-show-main{
    display: flex;
    flex-direction: column;
    background: gray;
    .project-show-title{
        background: pink;
    }

    .project-show-top-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5vw;
        margin-right: 5vw;
        background: black;

        .project-show-title{
            width: 45vw;
        }
        .project-show-picture{
            background: yellow;
            width: 57vw;
            height: 31.5vw;
        }
        *{
            margin: auto;
        }
        .project-show-stats{
            background: orange;
            width: 25vw;
            height: 31.5vw;

            .progress-container{
            display: flex;
            
            justify-content: start;
            
            width: 90%;
            height: 5px;
            background: lightgrey;
            max-width: 90%;
            min-width: 90%;


            .progress-bar{
                margin-left: 0px;
                height: 5px;
                background: darkgreen;
                max-width: 100%;

            }
        }
        }

    }
}

@media only screen and (max-width: 1000px) {
      .project-show-main{
        display: flex;
        

        .project-show-title{
            display: flex;
            flex-direction: column;
        }
    }

        .project-show-top-container{
            
             
            
           

            .project-show-picture{
                width: 100%;
                height: 57.6vw
            }
            .project-show-stats{
                width: 90%;
            }

        }
        
        
    
 
}


@media only screen and (min-width: 1px) and (max-width: 800px) {
    .project-show-main{
        display: flex;
        flex-direction: column;
        margin-left: 0vw;
        margin-right: 0vw;
        .project-show-title{
            display: flex;
            flex-direction: column;
        }

        .project-show-top-container{
            display: flex;
            width: 100%;
            margin: 1;
            .project-show-title{
                
                order: 2;
            }
            .project-show-picture{
                
                order: 1;
                width: 100%;
            }
            .project-show-stats{
                
                order: 3;
                width: 90%;
            }

        }
    }
}


