

.picture-links{
    
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    *{
        margin-right: 5px;
    }
}
.show-logo{
    width: 10%;
    background: none;
    border: none;
    color: $green;
    cursor: pointer;
}
.project-show-main{
    display: flex;
    flex-direction: column;
    background: none;
    height:2000px;
    
   

    .project-show-top-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5vw;
        margin-right: 5vw;
        background: none;

        .project-show-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;
            width: 45vw;
            height: 155px;
            height: 20vh;
            h1{
                font-size: 28px;
                margin-top: 20px;
                
            }
            h3{
                font-size: 14px;
                margin-bottom: 20px;
            }
            
        }
        .project-show-picture{
            background: yellow;
            width: 57vw;
            height: 31.5vw;
        }
        *{
            margin: auto;
        }
        .project-show-stats{
            background: none;
            width: 25vw;
            height: 31.5vw;

            .show-stats-back {
                width: 100%;
                margin-bottom: 10px;
                height: 40px;
                background: forestgreen;
                color: white;
                border: none;

                &:hover{
                    background: darkgreen;
                }

            }
            .show-stats-remind {
                width: 50%;
                height: 40px;
                margin-bottom: 10px;
                background: none;
                border-width: 1px;
                border-color: lightgray;
                &:hover{
                    border: solid;
                }

            }
            h3{
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
            }
            h4{
                font-size: 10px;
                margin-bottom: 15px;
            }

            .progress-container{
            display: flex;
            
            justify-content: start;
            
            width: 100%;
            height: 5px;
            background: lightgrey;
            max-width: 100%;
            min-width: 100%;


            .progress-bar{
                margin-left: 0px;
                height: 5px;
                background: darkgreen;
                max-width: 100%;

            }
            }
        }
    }
        .project-show-bottom-container{
            height: 500px;
            display: flex;
            background: none;
            .project-show-tab{
                border-top: solid;
                border-bottom: solid;
                border-width: 1px;
                border-color: lightgrey;
            }
            
            .project-show-tab-nav{
                display: flex;
                gap: 25px;
                justify-content: space-evenly;

                background: none;
                .tab-button-container{
                    margin-left: 5vw;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background: none;
                    width: 50px;
                    height: 40px;
                    min-height: 40px;
                    max-height: 40px;
                    border: none;
                    

                    .project-show-tab-button{
                        margin: auto;
                        background: none;
                        border: none;
                        color: color;

                        &:hover{
                            color: $green;
                        }

                    }
                }

            }
            .project-show-tab-buttons{
                display: flex;
                gap: 10px;
                justify-content: space-evenly;
            }
            
        
            .project-show-tab{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: sticky;
                background: none;
                width: 100vw;
                top: 0px;
                align-self: flex-start;
                .project-show-tab-button{
                    width: 5vw;
                }
            }

            .button-back{
                margin: 5px;
                background: $green;
                border: none;
                color: white;
                cursor: pointer;
                &:hover{
                    background: darkgreen;
                }
            }

            .button-remind{
                margin: 5px;
                border: none;
                cursor: pointer;
                
                background: none;

                &:hover{
                  
                }
            }
        }   

    
}
.project-show-banner{
    display: flex;
    height: 155px;
    background: #F6F2EB;
    margin-left: 0vw;
    margin-right: 0vw;
    justify-content: space-evenly;
    *{
        width: 25vw;
        margin: auto;
    }
}

@media only screen and (max-width: 1000px) {
      .project-show-main{
        display: flex;
        

        .project-show-title{
            display: flex;
            flex-direction: column;
            height: 20vh;
            h1{
                font-size: 28px;
                margin-top: 20px;
                
            }
            h3{
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }

        .project-show-top-container{
            
             
            
           

            .project-show-picture{
                width: 100%;
                height: 57.6vw
            }
            .project-show-stats{
                width: 90%;
            }

        }
        
        
    
 
}


@media only screen and (min-width: 1px) and (max-width: 800px) {
    .project-show-main{
        display: flex;
        flex-direction: column;
        margin-left: 0vw;
        margin-right: 0vw;
        .project-show-title{
            display: flex;
            flex-direction: column;
        }

        .project-show-top-container{
            display: flex;
            width: 100%;
            margin: 1;
            margin-left: 0;
            .project-show-title{
                
                order: 2;
            }
            .project-show-picture{
                
                order: 1;
                width: 100%;
            }
            .project-show-stats{
                
                order: 3;
                width: 90%;
            }

        }
    }

    .project-show-banner{
        flex-direction: column;
        *{
        width: 90vw;
    }
    }
}


