.close-search{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 11;
    
    top: 0px;
    left: 0px;
}

.search-bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    z-index: 15;
    top: 0px;
    left: 0px;
    
    
    width: 150px;
}

.search-input{
    width: 100vw;
    height: 11vh;
}
.search-results{
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 50vw;
    background: white;
    overflow: auto;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 5px;
}