
.session-form-btn{
    color: blue;
    border-radius: 50%;

}
.inline-block{
    display: inline-block;
    padding-bottom: 50px;
}
.session-errors{
    color: red;
}

.padding-left{
    padding-left: 5px;
    padding-right: 5px;
}
.session-form-window{
    display: flex;
    justify-content: center;
    margin: 0;
    
    width: 100%;
    height:100vh;
    background: rgb(245, 247, 245);
}
.session-form{
    display: flex;
    flex-direction: column;
   
    background: white;
    margin: auto;
    margin-top: 5%;
    width: 333px;
    position: relative;
    height: auto;
    padding-bottom: 50px;
    
    
   

    *{
       
        
        margin-top: 2vh;
        padding-bottom: 5px;
        
    }
    
}

.form-session{
    top: 0;
    display:flex;
    margin: auto;
    justify-content: start;
    
    flex-direction: column;
    

    
    
    .form-item {
        min-height: 40px;
        margin:auto;
        height: 40px;
        width: 262px;
        margin-bottom: 2vh;
        

        p{
            display: block;
            height: 60px;
        }
    }

   
}